* {
	box-sizing: border-box;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 32px;
}
.icon,
.icon_selected {
	width: 16px;
	fill: gray;
	margin: 16px;
	cursor: pointer;
	outline: none;
}
.icon_selected {
	fill: blue;
}
